@import "../../styles/shadows.scss";
@import "../../styles/colors.scss";

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  box-shadow: $shadow;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $primaryDark;
      text-decoration: underline;
    }

    &.user-container {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      &:hover {
        color: $primaryDark;
        text-decoration: underline;
      }

      .icon {
        color: $primaryMain;
        font-size: 1.3rem;
      }
    }
  }
}
