@import "../../../styles/colors.scss";
@import "../../../styles/shadows.scss";

.answerCard-container {
  border: 1px solid $primaryMain;
  width: 500px;
  min-height: 100px;
  box-shadow: $shadow;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: $cardMain;
  }

  .icon,
  .fill-icon {
    font-size: 1.5rem;

    &:hover {
      color: $primaryMain;
    }
  }

  .fill-icon {
    color: $primaryMain;
  }

  .answerCard-dateAndIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .answer-date {
      font-size: 12px;
    }
  }

  .iconsAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .answer-text {
      width: 420px;
      margin-bottom: 0.2rem;
      overflow-wrap: break-word;
    }
  }
}
