@import "../../../styles/colors.scss";

.question-actions {
  padding: 0;

  .question-actions-iconsContainer {
    display: flex;
    gap: 0.5rem;
  }
  .edit {
    color: $primaryMain;
  }
  .trash {
    color: $errorMain;
  }
}
