.question-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
}
